[receive]
	requireContributorAgreement = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group approvers-platform-dalvik
	label-Code-Review = -2..+1 group Android Maintainers
	label-Verified = -1..+0 group Android Maintainers
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group JBQ
[submit]
	action = merge always
	mergeContent = true
[project]
	state = active
